.searchPage__item {
  margin-bottom: 5px;
}

.searchPage__form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[md-card-avatar] {
  background-size: cover;
}