<div class="searchPage">

  <div class="searchPage__form">
    <md-form-field class="example-full-width">
      <input
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermUpdate($event)"
        mdInput
        placeholder="Search...">
      </md-form-field>

    <md-paginator
      [length]="total | async"
      [pageSize]="30"
      (page)="updatePagination($event)">
    </md-paginator>
  </div>

  <md-card *ngFor="let user of results | async" class="searchPage__item">
    <md-card-header>
      <div md-card-avatar class="example-header-image" [style.backgroundImage]="getSanitizeUrl(user.avatar_url)"></div>
      <md-card-title>{{user.login}}</md-card-title>
    </md-card-header>
    <md-card-actions>
      <a [routerLink]="'/user/' + user.id" md-raised-button color="primary">Details</a>
      <a md-raised-button [href]="user.html_url" target="_blank">See on Github
        <md-icon>launch</md-icon>
      </a>
    </md-card-actions>
  </md-card>
</div>